<ion-view view-title="About Us">
  <ion-pane class="padding">


    <div class="logo" text-center>
      <img class="logoimg"src="./img/logo.png" alt="">
    </div>

    <p> <blockquote>We are a team full of diversity trying to give the world their best everyday.</blockquote></p>

    <div class="list about">

      <div class="item">
        <div>
            <img class ="itim"src="./img/game-controller.png"></img>
            <span class="insideItem">Roberto Amarante</span>
        </div>

      </div>

      <div class="item">
          <img class ="itim"src="./img/student.png"></img>
          <span class="insideItem">Clovis Ramírez</span>
      </div>

      <div class="item">
          <img class ="itim"src="./img/strong.png"></img>
          <span class="insideItem">Rafael Suazo</span>
      </div>
  
  </div>

      
    <ion-footer>
      <div class="bar bar-footer aboutt">
          <ion-title class="aboutF">Powered by <a href="https://www.alphavantage.co/">Alpha Vantage</a></ion-title>
      </div>
    </ion-footer>
  </ion-pane>
</ion-view>
