<ion-view view-title="About Us">
  <ion-content class="padding">
    <p>About Stockify</p>

    <p> We are a team full of diversity trying to give the world their best everyday.</p>


    <div class="about" id="about" style="background-color:blue">
      <img src="./img/game-controller.png"></img>
      <h4>Roberto Amarante</h4>
      <img src="./img/strong.png"></img>
      <img src="./img/student.png"></img>
  
      <h4>Roberto Amarante</h4>
      <h4>Roberto Amarante</h4>
    </div>

  </ion-content>
</ion-view>
