<ion-view view-title="Stockify Settings">
  <ion-content class="padding">
    <div class="settings">
        <div class="list">

            <label class="item item-input item-select">
              <div class="input-label">
                Default Currency
              </div>
              <select class="currencySelect">
                <option ng-repeat="x in currencies">{{x.currencyCode}}</option>
              </select>
            </label>
          
          </div>
          <div class="list">

              <label class="item item-input item-select">
                <div class="input-label">
                  Default Language
                </div>
                <select class="currencySelect">
                  <option ng-repeat="x in languages">{{x.languageName}}</option>
                </select>
              </label>
            
            </div>
          <ul class="list">


              <li class="item item-toggle">
                 Notifications
                 <label class="toggle toggle-assertive">
                   <input type="checkbox">
                   <div class="track">
                     <div class="handle"></div>
                   </div>
                 </label>
              </li>
    
              <li class="item item-toggle">
                  Password Protected
                  <label class="toggle toggle-assertive">
                    <input type="checkbox">
                    <div class="track">
                      <div class="handle"></div>
                    </div>
                  </label>
               </li>
    
            
            </ul>
    </div>
      
  </ion-content>
</ion-view>
