<ion-tabs class="tabs-icon-top tabs-color-active-positive" hide-back-button="true">

  <!-- Overview Tab -->
  <ion-tab title="Overview" href="#/tab/overview">
    <ion-nav-view name="tab-overview" />
  </ion-tab>

  <!-- History Tab -->
  <ion-tab title="History" href="#/tab/history">
    <ion-nav-view name="tab-history"></ion-nav-view>
  </ion-tab>

  <!-- Favorites Tab -->
  <ion-tab title="Favorites" href="#/tab/favorite">
    <ion-nav-view name="tab-favorite"></ion-nav-view>
  </ion-tab>

  <!-- Win-lose Tab -->
  <ion-tab title="Win-lose" href="#/tab/win-lose">
    <ion-nav-view name="tab-win-lose"></ion-nav-view>
  </ion-tab>

</ion-tabs>
