<!--
  This tab contains the overview part of the application.
-->

<ion-view view-title="Market">
  <ion-content class="padding">
    <div class="list card" ng-repeat="company in companies">
      <div class="item">
        <h2 style="display:inline-block;">{{ company.companyName }}</h2>
        <p style="display:inline-block;">
          {{ '+' + company.gain + ' -' + company.loss + ' ' + company.date }}
        </p>
        <a style="float:right;" ng-click="toggleFavorite($index)">
          <i class="ion-ios-star" ng-if="company.favorite"></i>
          <i class="ion-ios-star-outline" ng-if="!company.favorite"></i>
        </a>
      </div>

      <div class="item item-image">
        <canvas ng-controller="CharCtrl" style="width:100%;height:30vh"></canvas>
      </div>
    </div>
  </ion-content>
</ion-view>
